/FrbaCommerce/FrbaCommerce/obj/
/FrbaCommerce/FrbaCommerce/bin/
FrbaCommerce/FrbaCommerce/obj/Debug/FrbaCommerce.csproj.GenerateResource.Cache
FrbaCommerce/FrbaCommerce.suo
FrbaCommerce/FrbaCommerce/FrbaCommerce.csproj
FrbaCommerce/FrbaCommerce/obj/Debug/FrbaCommerce.csproj.FileListAbsolute.txt
FrbaCommerce/FrbaCommerce/obj/Debug/FrbaCommerce.exe
FrbaCommerce/FrbaCommerce/obj/Debug/FrbaCommerce.pdb


