/FrbaCommerce/FrbaCommerce/obj/
/FrbaCommerce/FrbaCommerce/bin/

FrbaCommerce/FrbaCommerce/bin/Debug/FrbaCommerce.exe
FrbaCommerce/FrbaCommerce/bin/Debug/FrbaCommerce.pdb
FrbaCommerce/FrbaCommerce/obj/Debug/FrbaCommerce.csproj.FileListAbsolute.txt
FrbaCommerce/FrbaCommerce/obj/Debug/FrbaCommerce.csproj.FileListAbsolute.txt
FrbaCommerce/FrbaCommerce/bin/Debug/FrbaCommerce.pdb
FrbaCommerce/FrbaCommerce/obj/Debug/FrbaCommerce.csproj.GenerateResource.Cache
