<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrbaCommerce.Properties.Settings.GD1C2014ConnectionString"
            connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2014;User ID=gd;Password=gd2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="DateKey" value="2014-06-17" />
  </appSettings>
</configuration>